@font-face {
  font-family: 'Jersey 10';
  src: url('../Jersey_10/Jersey10-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Jersey 10', sans-serif;
  background-color: black;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#splash-screen {
  margin-top: 40px;
}

#splash-screen h1 {
  font-size: 35;
  margin-top: 10px;
}

#splash-screen h3 {
  font-size: 25px;
}

#start-btn,
#restart-btn {
  background-color: rgb(248, 111, 38);
  color: white;
  padding: 20px 80px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

#instructions {
  margin-top: 40px;
}
.instructions-img {
  width: 40px;
}

.instructions-elements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

#game-box {
  width: 600px;
  height: 550px;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-image: url("../images/backgroundEmpty.png");
  background-position: center;
  background-size: cover;
}

#game-box * {
  pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
}

#game-screen,
#game-over-screen {
  display: none;
}

#game-screen span{
  font-size: 30px;
}

/** PANTALLA DE GAME OVER **/
#game-over-screen {
  padding-top: 100px;
}

#game-over-screen img {
  width: 200px;
  margin-top: 30px;
}

#game-over-screen h1 {
  font-size: 60px;
  color: rgb(248, 111, 38);
  margin: 5px;
}
#game-over-screen h2, #game-over-screen span, #final-score {
  font-size: 30px;
  color: white;
}